:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin-top: 100px;
}
h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: #6e6864;
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: #6e6864;
  border: 1px solid #6e6864;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.coffee-app,
.world-clock-app,
.weather-app {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}

.coffee-app {
  background: #8a623c;
  color: beige;
}

.weather-app {
  background: darkcyan;
  color: #f2b100;
}

.world-clock-app {
  background: #328dc6;
  color: beige;
}

footer {
  text-align: center;
  color: black;
  opacity: 0.7;
  font-size: 16px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 73px;
  }
  h2 {
    text-align: center;
  }

  .coffee-heading {
    text-align: center !important;
  }
  .timezone-paragraph {
    justify-content: space-around;
  }
  footer {
    font-size: 14px;
  }
  .weather-heading {
    font-size: 37px;
  }
  .coffee-app,
  .world-clock-app,
  .weather-app {
    width: 100%;
    display: block;
    border-radius: 20px;
    text-align: center;
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 97px;
  }
}
